<div class="col-xs-10 col-xs-offset-1">
  <h1>About Krista</h1>

  <p>
    Krista is and avid concertgoer. When she's not studying how to write code, she is attending live shows all over the country. No concert is too far for her to travel.
  </p>
  <br />
  <p>
    Krista's first live show attendance was to see the Beastie Boys at Lollapalooza 1994. She has since gone on to see over 200 concerts during the following 20 years.
  </p>
  
  <div class="col-xs-12 col-sm-4">
  <br /><br />
  <%= image_tag "concert1.jpg", class: "img-responsive" %>
  </div>

</div>